
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    /* margin-bottom: 120px; */
 }
/*
 .footer {
     position: absolute;
     bottom: 0;
     width: 100%;
    height: 120px;
    padding-top: 20px !important;
    background-color: #eee;
}
*/

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {

    .footer {
        height: 150px;
    }
    .footer .col-6 {
        display:none;
    }
    body {
        margin-bottom: 100px;
    }
}



body {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #333;
}

/* TOP line CSS
-------------------------------------------------- */
.top_line {
    background: #eee;
}
.top_line .right_block {
    padding: 5px;
}
.top_line .left_block {
    font-size: 22px !important;
    padding-top: 3px;
    padding-left: 16px;
}

.top_line .left_block > a {
    padding-right: 8px;
    color: #555;
}

/* TOP Navbar CSS
-------------------------------------------------- */
.top_navbar {
    background: #fff;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .12);
}
#navbarCollapse {
    flex-grow: 0;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 30px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

/* -------   MAIN Block -------- */
.jumbotron {
    margin-bottom: 0;
}

/* -------   3 blocks -------- */
/* Medium devices (tablets, 768px and up) */
@media (max-width: 992px) and (min-width:768px) {

    .blocks-list small.text-muted {
        display: none;
    }

    .blocks-list .card-body > ul {
        -webkit-padding-start: 10px;
    }


}


/* -------   3 circles OR Why we? -------- */
.marketing .row > div {
    text-align: center;
}
.marketing {
    padding-top: 15px;
}

.marketing .why_we_list {
    font-size: 20px;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 1200px) {

    .marketing .why_we {
        margin-top: 30px;
    }

    .marketing .why_we_list {
        font-size: 16px;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 992px) {

    .marketing .why_we {
        margin-bottom: 30px;
    }

    .marketing .why_we_list {
        font-size: 16px;
    }

}


/* ---- Speech Block ------ */

.speech img.featurette-image {
    height: auto !important;
}

/* ---- Price Cards Block ------- */

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) and (min-width: 576px) {

    .price_cards .btn {

        font-size: 15px;

    }

}




/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* -------  Bootstrap color ballance and fixes -------- */
a {
    color: #0074D9;
    cursor: pointer;
}
.btn-primary
{
    background-color: #0074D9;
    border-color: #0074D9;
}
.list-group-item.active {

    background-color: #F7F7F7;
    border-color: #DFDFDF;
    color: #333;

}
.list-group-item.active {

    background-color: #305590;
    border-color: #4065A0;
    color: #fff;

}

.modal-dialog .modal-header {
    background-color: #305590;
    color: #fff;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
}
.modal-dialog .modal-header .close {
    color: white;
    font-size: 3rem;
    line-height: 0.5;
}
.modal-dialog .modal-header .close:hover {
    color: #eee;
}


.list-group-item.active {
    font-size: 18px;
    padding: 5px;
}
.list-group {
    width: 100%;
}
.list-group-item .row {
    width: 100%;
}
.text-left {
    justify-content: left !important;
    text-align: left !important;
}
@media (min-width: 576px) {
    .form-control {
        width: 100% !important;
    }
    .form-inline .form-group {
        margin-bottom: 1rem !important;
    }
}

/* ------- Core CSS Classes -------- */

.bottom-shadow {
    box-shadow: 0 4px 2px -1px rgba(0, 0, 0, .12);
    z-index:10;
    position: relative;
}

.top-shadow {
    box-shadow: 0 -2px 2px rgba(0, 0, 0, .12);
    font-size: 3px;
}

.wblock1 {
    background: white;
    box-shadow: 0 3px 8px 0px rgba(0, 0, 0, .12);
}

.box-shadow1 {
    box-shadow: 0 3px 2px 0px rgba(0, 0, 0, .12);
}

.ul-numbers {
    list-style: decimal;
}

.big_icon {
    font-size: 60px;
}

.a_link {
    text-decoration: underline;
    color: #0074D9 !important;
}

.list_group_active_right_button {
    float: right;
    font-size: 16px;
}

/* --------- Fixes ------------ */
.btn-secondary, .btn-success, .btn-danger {
    color: #fff !important;
}

/* --------- LANG DropDown ------------ */
#lang_dropdown {
    outline:0 !important;
    background: #eee !important;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
}
#lang_dropdown_menu {
    min-width: 1rem;
    text-transform: uppercase;
}

/* --------- BLOG Content System ------------- */

.inside_gallery_img {
    width: 100%;
    max-width: 365px;
}

.img-responsive {
    width: 100%;
}

@media (max-width: 1024px) {

    .content-blog {
        margin: 70px 0 20px 0;
    }

    .main_filters_block {
        position: fixed;
        top: 50px;
        width: 100%;
        z-index:998;
        padding: 0;
    }
    .main_filters_block .filters_button_block{
        padding: 0 !important;
        padding-top: 5px !important;
        margin-top: -2px;
        margin-bottom: -2px;
        text-align: center;
        line-height: 37px;
        height: 37px;
    }


}
@media (min-width: 1025px) {
    .filters_button_block h4 {
        margin-bottom: 0 !important;
    }
    .content-blog {
        margin: 40px 0 20px 0;
    }
}


/* --------- Fix Mobile TOP problem ---------- */

@media (max-width: 1000px) {

    .top_line .phone.d-inline-block {
        display: none !important;
    }
    .top_line .email.d-inline-block {
        display: none !important;
    }

}

@media (max-width: 580px) {

    .top_line .left_block {
        display: none !important;
    }

    .top_line .icons_mob {
        display: inline-block !important;
        float: left;
        font-size: 20px !important;
        padding-left: 5px;
        margin-top: -3px;
    }

    .top_line .icons_mob > a {
        color: #555;
        padding-right: 8px;
    }
}

/* ---------- Fix IE Bug ------------ */
.card-img-top {
    height:100%;
}

/* ---------- Loader ------------ */
.loader {
    display: inline-block;
    margin-top: 100px;
    width: 100%;
}

.loader_div {
    width: 100%;
    text-align: center;
}

@media (min-width: 1025px) {
    .loader {
        max-width: 400px;
    }

}
/* -------- Mobile UU Updates -------- */
.nav-link {
    background: #eee; text-align: right; color: #333 !important; padding:5px;
    border-bottom: 1px solid silver;
    margin-top: 5px;
}

.footer_fixed {
    position: fixed;
    bottom:0;
    width:100%;
    border-top: 1px solid silver;
    background: #eee;
    height: 60px;
    text-align: center;
}
.footer_buttons {
    width:24%;
    text-align: center;
    display:inline-block;
    border-right: 1px solid silver;
    height: 60px;
    padding-top:12px;
    font-size: 22px;
}
header {
    position: fixed;
    width: 100%;
    z-index: 999;
}
#page_center{
    padding-top: 40px;
}